PM/PM.Service.WebServicesTests/Connected Services/ProjetoWSServiceReference/ProjetoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AdicionarMembroProjeto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idProjeto" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="idMembro" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdicionarMembroProjetoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AdicionarMembroProjetoResult" type="tns:PMResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PMResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Sucesso" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensagem" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AdicionarMembroProjetoSoapIn">
    <wsdl:part name="parameters" element="tns:AdicionarMembroProjeto" />
  </wsdl:message>
  <wsdl:message name="AdicionarMembroProjetoSoapOut">
    <wsdl:part name="parameters" element="tns:AdicionarMembroProjetoResponse" />
  </wsdl:message>
  <wsdl:portType name="ProjetoWSSoap">
    <wsdl:operation name="AdicionarMembroProjeto">
      <wsdl:input message="tns:AdicionarMembroProjetoSoapIn" />
      <wsdl:output message="tns:AdicionarMembroProjetoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProjetoWSSoap" type="tns:ProjetoWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AdicionarMembroProjeto">
      <soap:operation soapAction="http://tempuri.org/AdicionarMembroProjeto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProjetoWSSoap12" type="tns:ProjetoWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AdicionarMembroProjeto">
      <soap12:operation soapAction="http://tempuri.org/AdicionarMembroProjeto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProjetoWS">
    <wsdl:port name="ProjetoWSSoap" binding="tns:ProjetoWSSoap">
      <soap:address location="http://localhost:10881/ProjetoWS.asmx" />
    </wsdl:port>
    <wsdl:port name="ProjetoWSSoap12" binding="tns:ProjetoWSSoap12">
      <soap12:address location="http://localhost:10881/ProjetoWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>